<!DOCTYPE html>
<html>
  <head>
    <title>Alice Davis: {{{title}}}</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="../style.css" />
    <style>
      .{{{title}}} nav {
        background-color: var(--highlight);
      }
      .{{{title}}} nav a {
        color: var(--cool-foreground);
      }
    </style>
  </head>
  <body class="{{{title}}}"">
    {{> header }}
    <div class="content">
      {{{body}}}
    </div>
  </body>
</html>
